In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [7]:
data = pd.read_csv('부산_평균기온_최저기온_최고기온_2019-2021.csv', encoding='CP949')

In [8]:
data

              일시  평균기온(°C)  최저기온(°C)  최고기온(°C)
0     2019-01-01       1.0      -1.9       5.5
1     2019-01-02       1.2      -2.5       6.4
2     2019-01-03       3.0      -1.7       8.4
3     2019-01-04       5.0       1.4       8.2
4     2019-01-05       5.5       2.2      10.7
...          ...       ...       ...       ...
1091  2021-12-27      -1.8      -6.9       3.3
1092  2021-12-28       3.9      -0.7       8.4
1093  2021-12-29       6.2       2.2      10.9
1094  2021-12-30       2.8       0.3       6.6
1095  2021-12-31      -0.1      -3.0       4.4

[1096 rows x 4 columns]